<div *ngIf="student!==undefined" class="col-lg-8">
  <label for="name">
    Name of Student
  </label>
  <input id="name" label="name" class="form-control"
         type="text" value="{{student.name}}"
         disabled="disabled">
  <hr>
  <label>
    surname of Student
  </label>
  <input class="form-control"
         type="text" value="{{student._surname}}"
         disabled="disabled">
  <hr>
  <label>
    Index of Student
  </label>
  <input class="form-control"
         type="text" value="{{student._index}}"
         disabled="disabled">
  <hr>
  <label>
    Module of Student
  </label>
  <input class="form-control"
         type="text" value="{{student._module}}"
         disabled="disabled">

  <button class="btn btn-danger" routerLink="/edit/{{student._index}}">edit</button>
</div>
